@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// $sidebar-bg-color: #272C33;
$sidebar-bg-color: #000;
$menu-bg-color: #ffffff;
// $menu-bg-color: #3F4652;
// $active-menu-bg-color:#99FD31;
$submenu-bg-color: #3F4652;
$submenu-bg-color-collapsed: #fff;
$sidebar-color: #000;
// $sidebar-color: #b3b8d4;
$highlight-color: #99FD31;
$icon-bg-color: rgba(255, 255, 255, 0.05);

@import '~react-pro-sidebar/dist/scss/styles.scss';


.lesson-library{
  width: 100% !important;
  margin-left: 270px !important;
  background-color: #fff;
  @media screen and (max-width:991px) {
    margin-left: 0px !important;
  }
  // @media screen and (max-width:768px) {
  //     text-align: left !important;
  // }
  // @media screen and (max-width:599px) {
  //     text-align: center !important;
  // }
}
.sidebar-wrapper{
  display: none !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
  background-color: rgba(0,0,0,0.5) !important;
  &.active{
    display: block !important;
  }
}
.pro-sidebar {
    position: fixed !important;
    width: 270px !important;
    left: 0 !important;
    top: 75px !important;
    height: calc(100% - 75px) !important;
    @media screen and (max-width:1201px) {
      left: -270px !important;
      transition: all 0.5s ease-in-out !important;
      height: calc(100% - 60px) !important;
      &.active{
        left: 0 !important;
        .sidebar-btn{
          svg{
            transform: rotate(180deg) !important;
          }
        }
      }
    }
     @media screen and (max-width: 899px) {
       top: 64px !important
     }
     @media screen and (max-width: 599px) {
      top: 60px !important
    }
    .sidebar-btn{
      display: none !important;
      position: absolute !important;
      right: -30px !important;
      top: 6px !important;
      width: 30px !important;
      height: 30px !important;
      background: #272c33 !important;
      z-index: 999 !important;
      box-shadow: 0 2px 10px rgba(0,0,0,0.4) !important;
      border-radius: 0px 10px 10px 0px !important;
      color: #fff !important;
      align-items: center !important;
      justify-content: center !important;
      font-size: 6px !important;
      z-index: 0 !important;
      svg{
        width: 16px !important;
      }
      @media screen and (max-width:1200px) {
        display: flex !important;
      }
    }
  .pro-sidebar-inner{
    
    .pro-sidebar-layout {
        overflow-y: visible !important;
        overflow-x: visible !important;
        .pro-sidebar-header{
            margin-top: 1rem !important;
            border: none !important;     
            // left: -100% !important;
            position: relative !important;
            
            // position: relative !important;
        }
        .pro-sidebar-content{
            padding-top: 1.2rem !important;
            .pro-menu{
                padding: 0rem !important;
            }
        }
        nav{
          .active-menu{
            .pro-inner-item{
              background-color: #99FD31 !important;
              color: #000000;
              font-size: medium !important;
              .pro-item-content{
                a{
                  color: #3366ff !important;
                }
              }
            }
          }
          .active-challenge-menu{
            opacity: 1 !important;
          }
        }
    }
    .menusidebar-wrapper{
      overflow-y: auto !important;
      overflow-x: hidden !important;
      padding: 1rem !important;
      height: 100% !important;
      flex-grow: unset !important;
    }
    .pro-inner-item{
        background-color: $menu-bg-color;
        border-radius: 5px !important;
        margin-bottom: 0.5rem !important;
        font-size: medium !important;
        // padding: 0.2rem !important;
        padding: 10px 35px 10px 20px !important;
    }

    // .pro-menu-item.pro-sub-menu{
    //     .pro-inner-item{
    //         padding: 12px 35px 12px 20px !important;
    //     }
    //     .react-slidedown{
    //         border-radius: 5px !important;
    //         padding-left: 2px !important;
    //         padding-right: 2px !important;
    //         padding-bottom: 0rem !important;
    //         margin-bottom: 0.8rem !important;
    //         font-size: medium !important;
    //         ul{
    //             padding-top: 0.5rem !important;
    //             padding-bottom: 0px !important;
    //         }
    //         .pro-inner-item{
    //             border-bottom: 1px solid #48505D !important;
    //             font-size: small !important;
    //         }
    //     }
    //     .pro-inner-list-item {
    //         padding-left: 0rem !important;
    //     }
    // }
    
  }
  

  .disable-lesson{
    opacity: 0.5 !important;
    color: rgba(0,0,0,0.4) !important; 
    .pro-menu-item{
      .pro-inner-item{
        &:hover{
          color: rgba(0,0,0,0.4) !important;
        }
        &:focus{
          color: rgba(0,0,0,0.4) !important;
        }
      }
    }
    
  }

  .disable-challenge{
    opacity: 0.5 !important;
  }
  
  .challenge-menu{
    color: rgba(0,0,0,0.4) !important;
    .pro-menu-item{
      .pro-inner-item{
        border: 2px solid #99FD31 !important;
        background-color: #000000 !important;
        color: #99FD31 !important;
        &:hover{
          color: #99FD31 !important;
        }
        &:focus{
          color: #99FD31 !important;
        }
      }
    }
  }

  .lock-lesson{
    opacity: 0.95 !important;
    .pro-menu-item{
      .pro-inner-item{
        &:hover{
          color: #000 !important;
        }
        &:focus{
          color: #000 !important;
        }
      }
    }
    
  }

  // .submenu-active{
  //   .pro-inner-item{
  //     .pro-item-content{
  //       color: #99FD31;
  //     }
  //   }
  // }

  @media (max-width: 767.98px) {
    // overflow-x: hidden !important;
    header {
      h1 {
        font-size: 24px !important;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex !important;
    }
  }
}

.sidebar-subtitle{
  padding: "12px" !important;
  font-size: small !important;
  color: #fff !important;
  letter-spacing: 0.1rem;
}

.slideIn {
  animation: in 1s 1 !important;
  animation-direction: normal !important;
  @keyframes in {
      0%  {left: 200px !important;}
      25%  {left: 0px !important;}
  }
  // left: 0px !important;
  // transition: all 0.5s ease-in-out !important;
}

.lesson-library-container{
  display: flex !important;
}

// main{
//   height: 100vh !important;
// }

.search-input-lesson{
  fieldset {
    border: 1px solid #fff !important;
    
  }
  input{
    color:#fff !important;
  }
}

.parent-setting-container{
  // margin-top: 2rem !important;
  // padding: 1rem;
  justify-content: center;
}

.button-container{
  padding: 0rem !important;
}

.parent-setting-form{
  display: flex !important;
  flex-flow: row wrap !important;
  width: auto !important;
  margin: 12px !important;
  padding: 22px 22px 30px 22px !important;
  border: 1px solid black !important;
  border-radius: 12px !important;
}

.video-status{
  width: -webkit-fill-available !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.parent-sidebar-footer{
  padding: 8px 8px 8px 8px !important;
  text-align: center !important;
}

.parent-button-footer{
  color: #fff !important;
  &:hover{
    color: #99FD31 !important;
    background-color: #3F4652 !important;
  }
}

.parent-app-bar {
  margin-left: 4px !important;
  margin-right: 4px !important;
  min-height: 75px !important;
  @media screen and (max-width:900px) {
    margin-left: 4px !important;
    margin-right: 4px !important;
    min-height: 60px !important;
  }
  // @media screen and (max-width:768px) {
  //     text-align: left !important;
  // }
  // @media screen and (max-width:599px) {
  //     text-align: center !important;
  // }
}

.parent-toolbar-box{
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-between !important;
}

.challenge-btn{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000000 !important;
  border-radius: 8px !important;
  color: #99FD31 !important;
  padding: 12px !important;
  border: 3px solid #99FD31 !important;
  cursor: pointer !important;
  width: 100% !important;
  max-width: 30rem !important;
  margin: 12px !important;
}


.challenge_button{
  background-color: #99FD31 !important;
  color: rgb(0,0,0) !important;
  &:hover{
    color: rgb(0,0,0) !important;
  }
}